In [1]:
import os
import numpy as np
import pandas as pd
np.set_printoptions(suppress=True)

In [2]:
data_dir = "data/data_3"

calendar_file = os.path.join(data_dir, "calendar.csv")
listing_file = os.path.join(data_dir, "listings.csv")
reviews_file = os.path.join(data_dir, "reviews.csv")
sessions_file = os.path.join(data_dir, "sessions.csv")
users_file = os.path.join(data_dir, "users.csv")

In [3]:
calendar_data = pd.read_csv(calendar_file)
print(calendar_data.shape)
print(calendar_data.isna().sum())
calendar_data

(17363102, 7)
listing_id               0
date                     0
available                0
price                    0
adjusted_price    17358884
minimum_nights         181
maximum_nights         181
dtype: int64

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,19902160,2025-05-02,f,$37.00,NaN,9.0,1125.0
1,37075766,2025-11-25,f,$72.00,NaN,2.0,1125.0
2,1091268028307262502,2025-05-28,t,$311.00,NaN,4.0,1125.0
3,829621911605471263,2025-12-03,t,$36.00,NaN,5.0,365.0
4,4223187,2025-09-16,f,$86.00,NaN,1.0,30.0
...,...,...,...,...,...,...,...
17363097,7512340,2025-02-03,f,$110.00,NaN,3.0,1125.0
17363098,982306509661111979,2025-07-07,t,$199.00,NaN,7.0,31.0
17363099,11529395,2025-03-17,f,$100.00,NaN,3.0,1125.0
17363100,20362814,2024-12-20,f,$189.00,NaN,3.0,14.0
17363101,1275414254829371175,2025-02-03,t,$175.00,NaN,3.0,365.0

In [4]:
listing_data = pd.read_csv(listing_file)
print(listing_data.shape)
print(listing_data.isna().sum())
listing_data

(47572, 75)
id                                                  0
listing_url                                         0
scrape_id                                           0
last_scraped                                        0
source                                              0
                                                ...
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                               12247
Length: 75, dtype: int64

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,18974065,https://www.nocarz.pl/rooms/18974065,20241211032909,2024-12-11,city scrape,Charming split-level one bedroom flat,Large living room with open-plan kitchen. With...,Residential. Outside the train station there i...,https://a0.muscache.com/pictures/866de5f0-05a7...,5249313,...,5.00,4.63,4.74,NaN,f,1,1,0,0,0.21
1,1074535877676155362,https://www.nocarz.pl/rooms/1074535877676155362,20241211032909,2024-12-11,city scrape,Stunning two bed apartment,This stylish place to stay is perfect for corp...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,90831525,...,5.00,4.50,4.00,NaN,f,3,1,2,0,0.25
2,796304692597746009,https://www.nocarz.pl/rooms/796304692597746009,20241211032909,2024-12-11,city scrape,"Southall, West London",This stylish and elegant apartment consists of...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,491814778,...,NaN,NaN,NaN,NaN,t,12,12,0,0,NaN
3,36942349,https://www.nocarz.pl/rooms/36942349,20241211032909,2024-12-12,previous scrape,One bedroom apartment beside Hackney Downs,Our apartment is light and spacious for two pe...,NaN,https://a0.muscache.com/pictures/aa38cea6-f9ea...,29438574,...,5.00,4.71,4.86,NaN,f,1,1,0,0,0.11
4,629991867534346504,https://www.nocarz.pl/rooms/629991867534346504,20241211032909,2024-12-12,city scrape,Superb location one bedroom luxury Chelsea flat,A quiet modern one bedroom apartment in the h...,A very quiet location set in the heart of chel...,https://a0.muscache.com/pictures/miso/Hosting-...,17521314,...,4.92,4.83,4.67,NaN,t,5,5,0,0,0.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47567,710659587270744878,https://www.nocarz.pl/rooms/710659587270744878,20241211032909,2024-12-12,city scrape,"4 Bed/2 Bath Luxury Duplex, AC, FibreOptic Wi-Fi",Recently decorated luxury 4 bedroom / 2 bathro...,NaN,https://a0.muscache.com/pictures/8a436108-c088...,1953756,...,5.00,4.95,4.73,NaN,f,23,3,20,0,0.85
47568,629745232207798133,https://www.nocarz.pl/rooms/629745232207798133,20241211032909,2024-12-11,city scrape,"Lovely 2 Bed Apartment, 2 Bath, 2 Balcony, Par...","Kick back and relax in this calm, stylish space.",NaN,https://a0.muscache.com/pictures/cf8e222a-c842...,48066622,...,5.00,5.00,4.40,NaN,t,4,4,0,0,0.44
47569,1177646022465355275,https://www.nocarz.pl/rooms/1177646022465355275,20241211032909,2024-12-11,city scrape,Room in the Heart of London,"My small room is available in a house, shared ...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,13425423,...,5.00,5.00,5.00,NaN,f,1,0,1,0,0.57
47570,1283230637462470835,https://www.nocarz.pl/rooms/1283230637462470835,20241211032909,2024-12-12,city scrape,Stunning 2-bed apartment in Nine Elms,Thames City is located in the vibrant Nine Elm...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,65380051,...,NaN,NaN,NaN,NaN,f,26,26,0,0,NaN
47571,1248791945205747328,https://www.nocarz.pl/rooms/1248791945205747328,20241211032909,2024-12-13,previous scrape,3 Bedroom Townhouse@HydePark,Discover luxury in the heart of London at this...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,651356744,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN

In [5]:
reviews_data = pd.read_csv(reviews_file)
print(reviews_data.shape)
print(reviews_data.isna().sum())
reviews_data

(953651, 7)
listing_id           0
id                   0
date                 0
reviewer_id          0
reviewer_name        1
comments            97
numerical_review     0
dtype: int64

,listing_id,id,date,reviewer_id,reviewer_name,comments,numerical_review
0,7276367,905625527223368376,2023-06-03,22414746,Alessandra,L'appartamento di Molly si trova a due minuti ...,4
1,17331733,483004221,2019-07-07,184308170,Farhin,Awesome stylish basement apartment. Close to b...,5
2,17175413,146992529,2017-04-24,124877747,Beatriz,"The location was good, the host took care of u...",5
3,640375760631534421,795522333712347653,2023-01-02,242127230,Maureen,Oscar's flat was wonderful in an exceptional l...,5
4,36511631,646941893366267609,2022-06-11,398279659,Monterey,amazing location (very easy to get places) and...,5
...,...,...,...,...,...,...,...
953646,38178115,1128853650172093555,2024-04-06,5405089,Stefka,Aliya’s apartment is absolutely fantastic - gr...,5
953647,23068020,702966955,2020-10-23,135176087,Zinnia,Raz and his assistant Harry were a pleasure to...,5
953648,35312163,894746554863027146,2023-05-19,30621074,Lucy,"Great location for us, close to the Crossrail ...",5
953649,622068,1234038669645368066,2024-08-29,66273845,Vani,Allan is an excellent host. We were internatio...,4
953650,32651613,571565426,2019-12-01,68849869,Marie-Pierre,We enjoyed our stay. Mark’s apartment is perfe...,5

In [36]:
reviews_data.comments.str.len().max()
reviews_data.iloc[540278].comments
# reviews_data[540278-3:540278+3]

'To whom it may concern.<br/>Hello, we are now writing this letter to complain about our extremely terrible experience booking with nocarz. To conclude the situation in a word, the host cancelled our reservation for 1 month on the same day for check-in, which caused us a direct economic loss of £400 and made us a huge trouble to find a new place.<br/>We booked our tenancy on September 07 via nocarz to stay with the host named Mila from September 17 to October 17 for 1 month. During our negotiation with the host, which you can find the full record in the appendix, we asked whether we could leave our luggage before the lease term because our previous contract ended on September 13. The host consented generously and directly. She agreed that we could leave our luggage in her garage at 6.30 pm on September 13. In fact, this is the exact reason for us deciding to book this tenancy.<br/>However, on September 13, the host told us that her garage was leaking at the last minute and we could not move our luggage inside. We waited outside in the heavy rain for 1 hour for her reply, and one of our friends was still suffering from a cough. We paid costly for moving and for taxi, while the money that we paid was just wasted because of her last-minute notifification and revocation.<br/>It was the first time that we got stood up, and we hadn’t thought that she would put us in a much more difficult situation later when we would like to check in.<br/>On September 16, we were trying to arrange a van for moving in advance, so we contacted her both via nocarz and via the chat app to negotiate the time for us to check in. The messages were sent and showed to be read on the chat app, while she did not totally reply to us totally. We waited until 10pm, and we called her at 21.55. The call was not connected, and we left her a message.<br/>In the morning of September 17, which is the exact day that we were scheduled to check in, at about 8 a.m., the host suddenly cancelled our booking because the "boiler stopped working". She said that she gave us this information in advance to help us save time. I personally do not think that informing us and cancelling our order for 1-month-rental on the same day for check-in would be any help in avoiding wasting our time and our money. Such behaviour is dishonest and unacceptable to us. We tried to look for a new tenant after that, however because of the last-minute cancellation, we have to pay even several times of the price for renting a new room by comparing it with the price that it was 2 weeks ago.<br/>To briefly sum up the monetary loss that the host has caused us, without considering the extra fee that we have to pay for finding a new room, we spent almost £70 for moving around on September 13, £76.2 for storing our luggage, and £254 for hotel after September 17, before we can find a new room to stay. Besides, the mental damage and additional physical overdraft that the host causes us have not been added in.<br/>We cannot accept the behaviour. We are three girls from China, and we haven’t even graduated from university yet. The host just puts us in a dilemma in a foreign country and forces us to become nearly homeless. We trusted nocarz and that is why we chose this platform to find a place to stay. However, the issues that we have encountered just make us feel unsafe and unguaranteed as a customer and a seeker. She makes us feel like she is just teasing us. We are wondering whether it might be because of our nationality and our race.<br/>The host breaks our promise twice and causes heavy losses for us. We are writing this complaint letter to inform you of the problematic treatment and terrible experience that we have had while using your app. We would like to ask the platform to enable us to write reviews on the app to inform others of our terrible experience and to warn them when they would like to book their tenancy with this host. We would also like to ask for compensation for our loss and for our inconvenience.<br/>We will contact the local Trading Standards office for further help if the issues that we encountered cannot be solved reasonably.<br/>                                                                                      ------Rose<br/>我收到我同学Jenny的委托，用聊天软件跟房东联系，因为她迟迟没有按照约定给房客具体的车库地址和存放行李的安排。一开始她安排她的清洁工13号下午六点半跟我们汇合，但是在约定时间的下午六点，她告诉我们车库被洪水淹没了，然后又告诉我们水管破裂了。那是一个阴雨绵绵的下午，我们冒着雨和打车过去的，我们要求查看车库，结果她拒绝了，并且要求我们在大雨中拖着一大推行李回去。至于我们的损失，她态度很不好，觉得租给我们租便宜了。后续在我等待17号入住的时候，她把我拉黑了。这是一段很糟糕的经历并给我们造成了很大的经济损失和身心伤害。<br/>\xa0<br/>因为这段时间世界各地的人都来伦敦纪念女王，所以我们很难在这么短的时间内订到酒店和价格合适的月租房间。后来在大雨的深夜中，我们才找一个可以住的酒店让我们短期滞留，我们3个人在狭小的酒店空间里睡了5天，花费了我们近700磅的酒店费才找到新的月租房间但位置很偏远，这对没有工作的学生群体来说就是一个巨大的经济压力。感觉这个房源的好评都是白人，这个房东从来不关心其他地方的学生因为她自己的原因给别人带来的意外和不必要的损失。我们的经济损失和心理伤害无法预估，这是非常糟糕的租房经历，希望大家都可以避免这个房东。也希望平台不要只约束房客，比如房客要赔偿责任，房东根本没有违约金收取，希望支付违约金。后来我们查看爱彼迎房东把房子租给其他人了，这就是不讲信用的违约，爱彼迎不需要出具相对应的扣款和信用条约约束房东和替我们实现公平吗？<br/>                                                                                     ------Yuyu<br/>房主的订单下面有两个一摸一样房子的页面，有一个600多人民币一晚的，一个900多人民币一晚的。因为我们现在是学生，资金不充足所以我一开始主要找房主讨论的是另外一个600多人民币一晚的房子。600多一晚的房子当时显示9月13日开始就可以起租，但是要住满3个月以上才可以下订单。所以我问房东可不可以在后台更改设置，我和同学们租住那个600多的房子一个月。但是房东说那个页面她没有更改成功，所以让我在这个房子的链接下单并给了我和600多人民币一晚房子差不多的价格。在下订单之前，我咨询房东可不可以让我们先把行李存储到房子里，房东在9月7号表示她可以让我们把行李在9月13号存储到车库里。在当时，我和房东之间的沟通很友好。<br/>9月13日一天伦敦都在下大雨，我的另一个同学Yuyu通过聊天软件和房东联系我们可不可以存储行李。房东在13号中午告诉我们可以在车库里存储行李，所以我们下午把一年的行李打包好，在雨中打车载着很多行李去往房东的住址。但是在我们抵达目的地的时候，我的同学Yuyu突然在下午6点左右收到了Mila房东的信息说她的车库被洪水淹没了，不能进行行李的存储。这时候我打开nocarz的消息才看到房东在13号下午4点半和13号下午6点半给我发消息说她的车库不能存储。<br/>那个时候，我对房东的做法感到很怪异，因为10天前我和房东沟通的时候已经明确告诉她我们有很多行李，如果她的车库不能用，为什么不提前1-2天告诉我们，让我们另外想办法呢？如果真的是意外，一个品德良好的人不应该通过电话或者聊天软件等第一时间可以联络房客的方式告诉他们这个紧急情况吗？而是选择第一时间在nocarz留下证据去证明自己认为合理的说辞。<br/>后面这个房东17号当天取消了我们的订单，说她房子的锅炉又坏了，第一次如果是意外我可以理解，结果第二次她在办理居住的当天才告诉我们，这个房东明明知道我们在英国上学有很多行李和我们的情况，对此我感到很生气和愤怒，因为我之前和房东沟通一直很有礼貌并且尊重她。如果她不愿意租给我们，一开始拒绝我们就可以，为什么在这10天积压着我们所有的积蓄连续两次这样对待我们？让我们陷入这样的困境和难堪之中。真诚希望其他房客在异国他乡不要遇到这样不守信用和没有原则的房东。 <br/>                                                                                   ------Jenny'

In [7]:
# np.set_printoptions(suppress=True)
sessions_data = pd.read_csv(sessions_file)
print(sessions_data.shape)
print(sessions_data.isna().sum())
sessions_data

(12880419, 4)
action             0
user_id            0
timestamp          0
listing_id    953651
dtype: int64

                   action   user_id                   timestamp    listing_id
0         browse_listings  22414746  2024-11-23T07:03:43.614318           NaN
1            view_listing  22414746  2024-11-23T07:47:06.614318  8.622116e+17
2            view_listing  22414746  2024-11-23T07:49:25.614318  1.110286e+07
3            view_listing  22414746  2024-11-23T08:43:57.614318  1.208480e+18
4            view_listing  22414746  2024-11-23T09:01:56.614318  1.705240e+05
...                   ...       ...                         ...           ...
12880414     view_listing  68849869  2024-11-23T09:50:32.360085  7.035337e+17
12880415     view_listing  68849869  2024-11-23T10:40:09.360085  6.491182e+17
12880416     view_listing  68849869  2024-11-23T11:23:55.360085  7.846523e+06
12880417     view_listing  68849869  2024-11-23T11:23:55.360085  3.265161e+07
12880418     book_listing  68849869  2024-11-23T11:23:55.360085  3.265161e+07

[12880419 rows x 4 columns]

In [8]:
users_data = pd.read_csv(users_file)
print(users_data.shape)
print(users_data.isna().sum())
users_data

(858830, 7)
id               0
name             0
surname          0
city             0
street           0
street_number    0
postal_code      0
dtype: int64

,id,name,surname,city,street,street_number,postal_code
0,203436964,Maciej,Rajch,Puławy,Wybickiego,36,86-831
1,40057904,Szymon,Kleban,Poznań,Polna,10,76-206
2,71780939,Anna Maria,Zegar,Leszno,Łanowa,31/50,84-147
3,138537725,Juliusz,Trąbka,Radomsko,Nowa,73,38-045
4,75310932,Maksymilian,Chłąd,Gorzów Wielkopolski,Piaskowa,37,02-179
...,...,...,...,...,...,...,...
858825,92226519,Dagmara,Słoń,Czechowice-Dziedzice,Krótka,38,77-943
858826,496907842,Cezary,Strzyż,Dąbrowa Górnicza,Cmentarna,24/50,27-384
858827,110848776,Anna Maria,Gustaw,Zgorzelec,Konopnickiej,73,66-050
858828,501375436,Albert,Gajowiak,Tychy,Dobra,47,07-432
858829,504646408,Elżbieta,Tarasek,Katowice,Mazowiecka,29/11,46-349